* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: #6c739c;
    --secondary: #0e0733;
    --tertiary: rgb(225, 221, 236);
    --grey: #3c3b41;
    font-size: 62.5%;
  } 

  header {
    background: var(--secondary);
    font-size: 18;
    padding: 30px 25px;
    border-bottom: 5px solid var(--primary);
  }
  
  header h1 {
    color: var(--tertiary);    
    margin: 5px 0 20px;
    font-size: 4rem;
  }

  header h3 {
    color: var(--tertiary); 
    font-size: 1.5rem;
  }

  header h4 {
    color: var(--secondary);    
    padding: 30px 30px 30px 30px;    
    margin: 20px 20px 20px 20px;
    font-size: 2rem;
  }

  header p {
    color: var(--tertiary);    
    margin: 0px 0 0px;
    font-size: 1.5rem;
  }
  
  p,
  li {
    font-size: 1.6rem;    
  }
  
#otis li {
    list-style-type: none;
}

.list-group {
    text-align: left;
    /* background: #4169E1; */
}

.list-group button {
    text-align: center;
    background-color: #3c3b41; /* grey background */
    border: 1px solid #3c3b41; /* grey border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    margin: 10px 110px; /* added padding to left and right */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  
  .list-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  /* .list-group button:hover {
    background-color: #4c8fe6;
    border: 1px solid #4c8fe6;
  } */

  /* button:hover {
    background-color: #4c8fe6;
  } */

  /* input:hover {
    background-color: #e8eaed;
  } */

  .list-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
 


  /* form and labels */

  *,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 3em;
  margin: 0px;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}

button {
  background-color: #039be5;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  float: left;
}

button:hover {
  background-color: #0288d1;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  color: #212121;
}

input {
  background-color: #f1f3f4;
  border-radius: 2px;
  border-width: 0;
  color: #5f6368;
  font-size: 1em;
  height: 45px;
  line-height: 20px;
  margin: 0;
  margin-top: 10px;
  max-width: 100%;
  padding: 8px 8px 8px 8px;
  transition-delay: 0s, 0s;
  transition-duration: 0.2s, 0.2s;
  transition-property: background-color, color;
  transition-timing-function: ease, ease;
  vertical-align: middle;
  width: 100%;
}

input:hover {
  background-color: #e8eaed;
}

.card {
  background-color: #fff;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 2%;
  margin-top: 80px;
  padding: 20px;
  width: 46%;
  overflow: hidden;
  position: relative;
  float: left;
}

.card::after {
  content: " ";
  display: block;
  clear: both;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

